.Background {
   background-color: #EDEEF1;
}

.Header {
	background: linear-gradient(to right, #FF8400 0%,#ff423a 100%);
	position: fixed;
	width: 100.5%;
	height: 65px;
	margin-top:-10px;
	margin-left:-10px;
	border-bottom-right-radius: 2em 1.3em;
}
.Logo {
	margin: 8px;
box-shadow: 0px 0px 15px 5px transparent;
transition: all 0.7s ease;
}
.Logo:hover {
box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
}
