.Background {
    background-color: rgba(0,102,255,0.8px);
    background-image: url(../images/blueback.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}


.Header {
	background: linear-gradient(to right, #FF8400 0%,#ff423a 100%);
	position: fixed;
	width: 100.5%;
	height: 10.1%;
	margin-top:-10px;
	margin-left:-10px;
	border-bottom-right-radius: 2em 1.3em;
	z-index: 1;
	box-shadow: -3.5px 3.5px 3.5px rgba(0,0,0,0.7);
}
.Logo {
	float: left;
	margin: 0.69%;
	transition: all 0.7s ease;
}
.Logo:hover {
	transform:scale(1.08);
}
.Container {
	height:65px;
	float: left;
	width:auto;
	padding-left: 40px;
	padding-right: 40px;
	transition: all 0.3s ease;
}
.Container:hover {
	background-color:#0066ff;
	
	transform:color(linear-gradient(to right, #0066ff 0%,#0099FF 100%));
	}
.Container:active {
	 box-shadow: 8px 0 5px 0px rgba(0, 0, 0, 0.5) inset;
}
h2,p,h3{
	color: black;
	font-family: mentone-semibol;
	text-decoration: none;
}
a {
	font-family: mentone-semibol;
	text-decoration: none;
	color: black;
}
@font-face	{
	font-family: mentone-semibol;
	src: url('../font/mentone-semibol.otf');
}
#current {
	text-decoration: underline;
}

form {
	margin-top: 23.5px;
}

.beskrivning{
	height:100%;
	width:40%;
	background: linear-gradient(to bottom, #FF8400 0%,#ff423a 100%);
	float:left;
	margin: 5.5% 1% 2% 1%;
	border-radius: 15px;
	text-align: center;
	box-shadow:-3.5px 3.5px 3.5px rgba(0,0,0,0.7);
}
.ossbild{
	height:100%;
	width:30%;
	background: linear-gradient(to bottom, #FF8400 0%,#ff423a 100%);
	float:left;
	margin: 5.5% 1% 2% 1%;
	border:20px,20px,20px,20px;
	border-radius: 15px;
	text-align: center;
	box-shadow:-3.5px 3.5px 3.5px rgba(0,0,0,0.7);
}

#searchbox
{
width: 23.6%;
height:55%;
padding: 0.55%;
margin: 0.55% auto;
overflow: hidden;
}


#search {
padding: 1.93%;
height: 64%;
width: 60%;
border: 1px solid #B1A9B1;
font: normal 13px 'trebuchet MS', arial, helvetica;
border-radius: 50px 3px 3px 50px;
}


#submit {
	float:right;
    background-color: #FF4935;
    background-image: linear-gradient(#FF4537, #FF8401);
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #FF7D72 #FF651C #FF8302;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-align: center;
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#FFD000, #ff6600);
}   

#submit:active {       
    background: #FF651C;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

#fathers {
	margin: 0px 0px 10px 0px;
	border-radius:20px;
	box-shadow:-5px 5px rgba(0,0,0,0.0);
}

.Contact{
	height:100%;
	width:24%;
	background: linear-gradient(to bottom, #FF8400 0%,#ff423a 100%);
	float:left;
	margin:  5.5% 1% 2% 1%;
	border:20px,20px,20px,20px;
	border-radius: 15px;
	text-align: center;
	box-shadow:-3.5px 3.5px 3.5px rgba(0,0,0,0.7);
}

.big{
	margin:  5.5% 1% 2% 1%;
	float:left;
	height:100%;
	width:100%;
}

.itemContainer{
	background-color:rgb(160,160,160);
	height:300px;
	width:200px;
	border:solid black 5px;
	margin:10px 0px 0px 10px;
	border-radius:25px;
}.itemContainer:hover{
		background-color:rgb(145,145,145);
}

.itemPicture{
	height:150px;
	width:176px;
	margin:10px 0px 0px 10px;
	border:solid black 2px;
	border-bottom:0px;
	border-radius:20px 20px 0px 0px;
}
.itemPicture img{
	height:150px;
	width:176px;
	border-radius:20px 20px 0px 0px;
}

.itemName{
	background-color:white;
	height:15px;
	width:166px;
	margin-left:10px;
	padding:5px 5px 0px 5px;
	border-left:solid black 2px;
	border-right:solid black 2px;
}
.itemName p{
	margin:0px 0px 0px 0px;
	text-align:center;
	font-weight:bold;
	font-size:25px;
}

.itemInfoBox{
	background-color:white;
	height:53px;
	width:166px;
	margin:0px 0px 0px 10px;
	padding:7px 5px 0px 5px;
	border-left:solid black 2px;
	border-right:solid black 2px;
}
.itemInfoBox p{
	margin:0px;
	word-break:break-all;
}


.itemPrice{
	background-color:white;
	float:left;
	height:46px;
	width:112px;
	border-radius:0px 0px 0px 20px;
}
.itemPrice p{
	color:red;
	margin:12px 0px 0px 0px; /* To center text vertically */
	text-align:center;
	font-size:25px;
	font-weight:bold;
}

.itemButtonContainer{
	background-color:white;
	width:166px;
	height:46px;
	margin:0px 0px 0px 10px;
	padding:0px 5px 0px 5px;
	border:solid black 2px;
	border-top:0px;
	border-radius:0px 0px 20px 20px;
}

.itemBuyButton{
	margin:7px 0px 5px 0px;
	float:right;
	height:30px;
	width:50px;
	color:white;
	border:solid black 2px;
	background-color:rgb(100,200,100);
	border-radius:20px;
}
.itemBuyButton:hover{
	background-color:rgb(80,180,80);
}
.itemBuyButton :active {
	color:red;
} 
.itemBuyButton p{
	margin:0px 0px 0px 0px;
	text-align:center;
	font-size:25px;
}
@-webkit-keyframes exempel {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}
@keyframes exempel {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

.infoDisplay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}


.infoDisplay:target {
  display: table;
  position: absolute;
}


.infoDisplay .infoContainer {
  display: table-cell;
  vertical-align: middle;
  
}

.infoDisplay .infoContainer .infoContentContainer {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 230px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  -webkit-animation-name: exempel; 
  -webkit-animation-duration: 0.5s;
  animation-name: exempel;
  animation-duration: 0.5s;
}

.infoDisplay .infoContainer .infoContentContainer .closebtn {
margin-top:-30px;
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #000;
}

.infoDisplay .infoContainer .infoContentContainer .infoContent {
  background-color: #5cb85c;
  font-size: 25px;
  color: white;
}
.infoDisplay .infoContainer .infoContentContainer .infoContent h2{
  text-align:center;
  font-size: 25px;
  color: white;
}

