.Background {
    background-color: rgba(0,102,255,0.8px);
    background-image: url(../images/blueback.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}


.Header {
	background: linear-gradient(to right, #FF8400 0%,#ff423a 100%);
	position: fixed;
	width: 100.5%;
	height: 65px;
	margin-top:-10px;
	margin-left:-10px;
	border-bottom-right-radius: 2em 1.3em;
	z-index: 1;
	box-shadow: -3.5px 3.5px 3.5px rgba(0,0,0,0.7);
}
.Logo {
	float: left;
	margin: 8px;
	transition: all 0.7s ease;
}
.Logo:hover {
	transform:scale(1.08);
}
.Container {
	float: left;
	width:auto;
	margin-left: 40px;
	margin-right: 40px;
}
h2,p{
	color: black;
	font-family: mentone-semibol;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: black;
}
@font-face	{
	font-family: mentone-semibol;
	src: url('../font/mentone-semibol.otf');
}
#current {
	text-decoration: underline;
}

form {
	margin-top: 23.5px;
}

.beskrivning{
height:800px;
width:600px;
background: linear-gradient(to bottom, #FF8400 0%,#ff423a 100%);
float:right;
margin: 65px 20px 10px 0px;
border-radius: 15px;
text-align: center;
box-shadow:-3.5px 3.5px 3.5px rgba(0,0,0,0.7);
}

#searchbox
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 12px  auto 50px;
    overflow: hidden; /* Clear floats *//