p{
font-size: 80%;
}
.big{
	height:100%;
	width:100%;
}
.itemContainer{
	height:307px;
	width:200px;
	margin:75px 10px -50px 0px;
	border-radius:8px;
	transition: all 0.3s ease;
	float:left;
}
.itemPicture{
	height:150px;
	width:176px;
	margin:10px 0px 0px 10px;
	border:solid black 2px;
	border-bottom:0px;
	border-radius:20px 20px 0px 0px;
}
	.itemPicture img{
	height:150px;
	width:176px;
	border-radius:20px 20px 0px 0px;
}
.itemName{
	background:linear-gradient(to right, #FF8400 0%,#ff423a 100%);
	width:166px;
	margin-left:10px;
	padding:5px 5px 0px 5px;
	border-left:solid black 2px;
	border-right:solid black 2px;
}
.itemName p{
	margin:0px 0px 0px 0px;
	text-align:center;
	font-weight:bold;
	font-size:25px;
}

.itemInfoBox{
	background:linear-gradient(to right, #FF8400 0%,#ff423a 100%);
	height:53px;
	width:166px;
	margin:0px 0px 0px 10px;
	padding:7px 5px 0px 5px;
	border-left:solid black 2px;
	border-right:solid black 2px;
	padding-top: 15px;
}
.itemInfoBox p{
	margin:0px;
	word-break:break-all;
}


.itemButtonContainer{
	background:linear-gradient(to right, #FF8400 0%,#ff423a 100%);
	width:166px;
	height:46px;
	margin:0px 10px 10px 10px;
	padding:0px 5px 0px 5px;
	border:solid black 2px;
	border-top:0px;
	border-radius:0px 0px 20px 20px;
}

.itemBuyButton{
	margin:10px -2px 0px 0px;
	float:right;
	height:30px;
	width:100%;
	color:#87ceeb;
	border:solid black 2px;
	background: #D00000 ;
	border-radius:20px;
	font-size: 10px;
}

.itemBuyButton img{
	margin:0px 10px 0px 0px;
	float:right;
	display: block;
	margin-right: 5px;
}
.itemBuyButton p{	
	float: left;
	margin:2px 0px 0px 10px;
	text-align:center;
	font-size:20px;
}
.itemBuyButton:hover{
	background: #F00000;
	transform:scale(1.01);

}
.itemBuyButton :active {
	color:#F00000;
} 
@-webkit-keyframes exempel {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}
@keyframes exempel {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}
.infoDisplay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.infoDisplay:target {
  display: table;
  position: absolute;
}
.infoDisplay .infoContainer {
  display: table-cell;
  vertical-align: middle; 
}
.infoDisplay .infoContainer .infoContentContainer {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 230px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: exempel; 
  -webkit-animation-duration: 0.5s;
  animation-name: exempel;
  animation-duration: 0.5s;
}
.infoDisplay .infoContainer .infoContentContainer .closebtn {
margin-top:-35px;
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #000;
}
.infoDisplay .infoContainer .infoContentContainer .infoContent {
  background-color: #F00000;
  font-size: 25px;
  font-style: black;
}
.infoDisplay .infoContainer .infoContentContainer .infoContent h2{
  text-align:center;
  font-size: 25px;
  color: black;
}

