#navmenu {
margin: 0;
padding: 0;
}
#navmenu ul {
background: linear-gradient(to right, #FF8400 0%,#ff423a 100%);
margin: 0,0,0,0;
padding: 0;
line-height: 30px;
}
#navmenu li {
margin: 0;
padding: 0;
list-style: none;
float:left;
position: relative;
}
#navmenu ul li a {
text-align: center;
text-decoration: none;
height: 30px;
width:120px;
display: block;

}
#navmenu ul ul{
  position: absolute;
  visibility: hidden;
  top: 30px;
}
#navmenu ul li:hover ul{
visibility: visible;
}
#navmenu li:hover{
background:#0066ff;
border-top: 2px solid #ff423a;
}
